.hostNavBar {
  margin-inline-start: 1em;
  display: flex;
  gap: 1em;
}

.hostNavBarLink {
  font-size: 0.8rem;
  font-weight: bold;
}

.hostNavBarLink:hover {
  color: black;
  text-decoration: underline;
  text-underline-offset: 5px;
}