.loginCont {
  align-self: center;
  margin-block-start: 1em;
  padding: 1em;
  width: 100%;
  max-width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightblue;
}

.toast {
  background: whitesmoke;
  width: max-content;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1.1px;
  padding: 0.5em 1em;

  translate: -50%;
  transform: translate(50vw);
}

.x-mark {
  font-size: 0.8em;
  padding-inline-end: 1em;
}

.loginCont form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginCont input {
  padding: 0.5em 0.5em;
  border: none;
  border-radius: 5px;
}

.loginCont input:first-child {
  border-block-end: none;
  margin-block-end: 0.5em;
}

.loginBtn {
  margin-block-start: 1em;
  background: lightcoral;
  color: whitesmoke;
  padding: 0.2em 0.5em;
  border: transparent;
  font-weight: bold;
  padding: 0.5em 0.5em;
}

.h1login {
  text-align: start;
}

.nameCont {
  width: 100%;
  max-width: 40em;
}

.signup {
  margin-block-start: 1em;
  color: gray;
  font-weight: bold;
}

.signuplink {
  color: black;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

@media (width <=30em) {
  .h1login {
    font-size: 1.5rem;
  }
}