.vansContainer {
  margin-top: 0.3em;
  display: flex;
  flex-direction: column;
}

.vansContainer h3 {
  margin-inline-start: 0.5em;
}

.filters {
  padding-block: 0.5em;
  padding-inline: 0.5em;
  display: flex;
}

button {
  background: #ffead0;
  color: rgb(56, 56, 56);
}

.filters button {
  font-weight: bold;
  font-size: 0.8rem;
  outline: none;
  border: none;
  padding-inline: 1em;
  padding-block: 0.3em;
}

.filters button:not(:last-child) {
  border-radius: 0.5em;
  margin-inline-end: 1em;
}

.filters button:last-child {
  text-decoration: underline;
  /* text-transform: uppercase; */
  background: transparent;
  font-size: 0.8rem;
  font-weight: 500;
  color: gray;
  text-underline-offset: 0.2rem;
  margin-inline-start: auto;
}

.simple {
  background-color: lightcoral;
}

.rugged {
  background-color: rgb(11, 93, 11);
}

.luxury {
  background-color: rgba(0, 0, 0, 0.834);
}

:is(.simple, .rugged, .luxury) {
  color: wheat;
}

.filters button:hover {
  cursor: pointer;
}