* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
}

.link {
  margin-inline-end: 1em;
  font-size: 1rem;
  font-weight: bold;
  padding-inline: 0.5em;
  padding-block: 0.2em;
}

.link:hover:not(.currentPage) {
  color: black;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.currentPage {
  color: white;
  background: #171819;
  border-radius: 5px;
}